<div class="container my-5">
    <h3 class="mb-3">Task List</h3>
    <table class="table table-success table-striped" *ngIf="tasks && tasks.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td>{{task.id}}</td>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{{task.duedate}}</td>
                <td><a [routerLink]="['/task-list','edit',task.id]">Edit</a></td>
                <td>
                    <button class="btn btn-danger" (click)="deleteTask(task.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
   <p *ngIf="!tasks || tasks.length === 0">No Tasks Found</p>
</div>
